<div class="w-full p-2 h-screen">
    <div class="w-full flex flex-col gap-5 border-2 border-blue-600 h-full">
        <div class="h-24 w-full bg-blue-600 text-white flex flex-row justify-between items-center text-2xl text-medium px-10">
            <div class="flex justify-start text-3xl font-bold items-center">
                <p>Panel View</p>
            </div>
            <div class="flex flex-row justify-end gap-10 items-center">
                <fa-icon class="fa-2x text-white fa-light" [icon]="faArrowDown"></fa-icon>
                <fa-icon class="fa-2x text-white fa-light" [icon]="faHouse"></fa-icon>
                <fa-icon class="fa-2x text-white fa-light" [icon]="faArrowLeft"></fa-icon>
            </div>
        </div>
        <div class="flex flex-col gap-5 px-5 py-1 pb-3 border-b-4 border-b-blue-600">
            <div class="flex flex-row items-center gap-10">
                <p class="inline-block pr-40 h-fit my-auto flex">Search Filter by:</p>
                <div class="flex flex-row h-10">
                    <p class="h-fit my-auto flex">From Date:</p> &nbsp;
                    <input type="date" class="border-2 border-blue-600 px-4 py-2" >
                </div>
                <div class="flex flex-row h-10">
                    <p class="h-fit my-auto">To Date:</p> &nbsp;
                    <input type="date" class="border-2 border-blue-600 px-4 py-2" >
                </div>
            </div>
            <div class="flex flex-row gap-10">
                <label for="name" class="gap-3 flex flex-row">
                    <p class="flex justify-center items-center">Name:</p>
                    <input id="name" type="text" class="border-2 border-blue-600" />
                </label>
                <label for="band" class="gap-3 flex flex-row">
                    <p class="flex justify-center items-center">Band:</p>
                    <select id="band" class="border-2 border-blue-600">
                        <option value="band 1">
                            Band 1
                        </option>
                        <option value="band 2">
                            Band 2
                        </option>
                    </select>
                </label>
                <label for="accountName" class="gap-3 flex flex-row">
                    <p class="flex justify-center items-center">Account Name:</p>
                    <select id="accountName" class="border-2 border-blue-600">
                        <option value="account name 1">
                            Account Name 1
                        </option>
                        <option value="account name 2">
                            Account Name 2
                        </option>
                    </select>
                </label>
                <label for="skillSet" class="gap-3 flex flex-row">
                    <p class="flex justify-center items-center">Skill Set:</p>
                    <input id="skillSet" type="text" class="border-2 border-blue-600" />
                </label>
                <button class="text-white bg-blue-600 px-5 py-2 rounded-md"> Reset</button>
            </div>
        </div>
        <div class="border-t-2 border-t-blue-600 h-4/5 w-full">
            <div *ngFor="let panel of panelList" class="border-b-2 border-b-blue-600 flex flex-row gap-10 justify-between px-10 py-5">
                <p class="w-fit w-1/5 inline-block flex justify-start items-center">
                    {{panel.name}}
                </p>
                <p class="w-fit w-1/5 inline-block flex justify-start items-center">
                    {{panel.accountName}}
                </p>
                <p class="w-fit w-2/5 inline-block flex justify-start items-center">
                    {{panel.skillSet}}
                </p>
                <fa-icon class="fa-2x w-1/5 flex justify-end items-center text-blue-600 fa-light" [icon]="faChevronRight"></fa-icon>
            </div>
        </div>
    </div>
</div>