<div class="h-24 w-full bg-blue-600 text-white flex flex-row justify-between items-center text-2xl text-medium px-10">
    <div class="flex justify-start text-3xl font-bold items-center">
        <p>Manage Panel Slots</p>
    </div>
    <div class="flex flex-row justify-end gap-10 items-center">
        <fa-icon *ngIf="editMode" (click)="addNewSlot()" class="fa-2x text-white fa-light cursor-pointer" [icon]="faPlus"></fa-icon>
        <fa-icon (click)="editSlots()" *ngIf="!editMode" class="fa-2x text-white fa-light cursor-pointer" [icon]="faPenToSquare"></fa-icon>
        <fa-icon (click)="updateSlot()" *ngIf="editMode" class="fa-2x text-white fa-light cursor-pointer" [icon]="faFloppyDisk"></fa-icon>
        <fa-icon (click)="goToHome()" class="fa-2x text-white fa-light cursor-pointer" [icon]="faHouse"></fa-icon>
        <fa-icon (click)="goBack()" class="fa-2x text-white fa-light cursor-pointer" [icon]="faArrowLeft"></fa-icon>
        <fa-icon (click)="logOut()" class="fa-2x text-white fa-light cursor-pointer" [icon]="faArrowRightFromBracket"></fa-icon>
    </div>
</div>
<div class="flex flex-row justify-between px-10 py-5">
    <div class="flex flex-col gap-3">
        <p class="font-bold text-2xl text-blue-600">Selected Panel:</p>
        <p><span class="font-medium text-xl text-blue-600">Name :&nbsp;</span> {{name}} <span class="font-medium text-xl text-blue-600"> &nbsp;| Band :&nbsp;</span>{{band}}<span class="font-medium text-xl text-blue-600">&nbsp; | Skill Set : </span> {{skillSet}}</p>
    </div>
    <div class="flex flex-col gap-4 font-semibold">
        <div class="flex flex-row gap-3">
            <p class="flex justify-center w-fit text-xl font-medium text-blue-600">
                Start Date Filter:
            </p>
            <input (input)="dateChangeTrigger()" [(ngModel)]="startDate" type="date" class="border-2 border-blue-600 px-2 rounded-md" />
        </div>
        <div class="flex flex-row gap-3">
            <p class="flex justify-center w-fit text-xl font-medium text-blue-600">
                End Date Filter:
            </p>
            <input (input)="dateChangeTrigger()" [(ngModel)]="endDate" type="date" class="border-2 border-blue-600 px-2 rounded-md" />
        </div>
    </div>
</div>
<div class="flex flex-row text-white bg-blue-600 rounded-md mx-2 relative px-10 py-2">
    <p class="flex inline-block justify-center align-center w-3/12">
        Slot Start Date Time
    </p>
    <p class="flex justify-center align-center w-3/12">
        Slot End Date Time
    </p>
    <p class="flex justify-center align-center w-1/12">
        Status
    </p>
    <p class="flex justify-center align-center w-2/12">
        Booked by
    </p>
    <p class="flex justify-center align-center w-3/12">
        Comments
    </p>
</div>
<div *ngIf="userType=='admin'" class="flex flex-row justify-end px-4 py-1">
    <p>Filter Selection: </p> &nbsp; &nbsp;
    <select (change)="assignDropdownChange()" [(ngModel)]="assigneeFilter">
        <option value="all">
            All
        </option>
        <option value="assigned">
            Assigned
        </option>
        <option value="unassigned">
            Unassigned
        </option>
    </select>
</div>
<div class="mx-2 top-3 relative h-full flex flex-col gap-2">
    <div *ngIf="userType=='admin'" class="flex flex-row justify-between px-5 py-1">
        <input class="inline-block" (click)="checkAllSlots()" type="checkbox" id="multiCheck">
        <div class="inline-block flex justify-center gap-10">
            <select class="border-black border-2 box-shadow" [(ngModel)]="selectedTAtoAssign" class="mx-4 px-4">
                <option *ngFor="let TA of TAList" [ngValue]="TA['userName']">
                    {{TA['userName']}}
                </option>
            </select>
            <input class="px-4 py-2 rounded-md bg-blue-600 text-white" (click)="assignToTA()" type="button" value="Assign">
        </div>
    </div>
    <div *ngFor="let slot of slots; let i = index" class="flex flex-row py-4 rounded-md relative  border-2 border-blue-400">
        <div *ngIf="userType=='admin'" class="relative top-1 left-4">
            <input [(ngModel)]="slot.slotSelection" type="checkbox" >
        </div>
        <div class="w-3/12 flex justify-center items-center">
            <input [disabled]="!editMode" [(ngModel)]="slot.start" class="flex inline-block justify-center align-center border-2 border-blue-600 px-2 rounded-md" type="datetime-local">
        </div>
        <div class="w-3/12 flex justify-center items-center">
            <input [disabled]="!editMode" [(ngModel)]="slot.end" class="flex inline-block justify-center align-center border-2 border-blue-600 px-2 rounded-md" type="datetime-local">
        </div>
        <select [disabled]="!editMode" [(ngModel)]="slot.status" class="flex justify-center align-center w-1/12 border-2 border-blue-600 px-2 rounded-md">
            <option value="booked">
                Booked
            </option>
            <option value="available">
                Available
            </option>
            <option value="cancelled">
                Cancelled
            </option>
            <option value="consumed">
                Consumed
            </option>
            <option value="notconsumed">
                Not Consumed
            </option>
        </select>
        <p class="flex justify-center align-center w-2/12">
            {{slot.bookedBy}}
        </p>
        <p class="flex justify-center align-center w-3/12">
            <input [disabled]="!editMode" type="text" [(ngModel)]="slot.comments" class="border-2 border-blue-600 w-3/4 px-3 rounded-md" />
        </p>
    </div>
</div>